:root {
  --color-dark-cyan: #3c8067;
  --color-cream: #f2ebe3;

  --color-dark-blue: #1c232b;
  --color-dark-grayish-blue: #6c7289;
  --color-white: #fff;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--color-dark-grayish-blue);
  background-color: var(--color-cream);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  max-width: 22rem;
  background-color: var(--color-white);
  border-radius: 0.625rem;
  margin: 1.25rem;
  overflow: hidden;
  box-shadow: 0px 3px 10px 0px rgba(186, 186, 186, 1);
}

.image {
  display: block;
  max-width: 100%;
}

.card-text-section {
  margin: 1.625rem;
}

.card-label {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 0.75rem;
}

.card-heading {
  font-size: 1.875rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
  line-height: 1.08;
  color: var(--color-dark-blue);
  margin: 0.625rem 0 1rem;
}

.card-prices {
  margin: 1rem 0 0.625rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-new-price {
  font-family: "Fraunces", serif;
  color: var(--color-dark-cyan);
  font-weight: 700;
  font-size: 2.25rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border-width: 0;
}

.card-button {
  width: 100%;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-dark-cyan);
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.625rem;
  justify-content: center;
}

.card-button:hover {
  background-color: #1a4031;
}

footer p {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (min-width: 40rem) {
  .card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 37.5rem;
  }

  .image {
    height: 100%;
    object-fit: cover;
  }

  .card-heading,
  .card-prices {
    margin: 1.25rem 0;
  }
}
